table {
    border-collapse:  collapse;
    caption-side: bottom;
}
td, th  {
    border: 1px black solid;
    padding: 5px;
}

section {
    text-align: center;
    margin-top: 50px;
}

#picture-project img {
    width: 90%;
}